#{extends 'main.html' /}
#{set title:'来坐坐吧' /}
#{set "moreScripts"}
<script src="@{'/public/javascripts/ajaxfileupload.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	function deleteImage(id, key){
		if(!confirm("确定要删除吗?")){
			return false;
		}
		$.post("@{ImageController.deleteImage()}", {"key":key, "id":id},function(data){
			//alert(data.message);
			window.location.href="@{ImageController.listImage()}";
		});
	}
	
	function upload(){
		//$("#token").val(upToken);
		//document.forms[0].submit();
		var dataobj = {id: $("#id").val(), title: $("#title").val(), description:$("#description").val()}
		$.ajaxFileUpload
        (
            {
               url:'@{ImageController.uploadImage()}',//用于文件上传的服务器端请求地址
               secureuri:false,//一般设置为false
               fileElementId:'file',//文件上传空间的id属性  <input type="file" id="file" name="file" />
               dataType: 'json',//返回值类型 一般设置为json
               data: dataobj,
               //暂时不使用返回data，因为存在跨域访问的问题，得到的data为空。
               success: function(data, status)//服务器成功响应处理函数
               {
                    //alert(data.message);//从服务器返回的json中取出message中的数据,其中message为在struts2中action中定义的成员变量
                    $('#myModal').modal('hide');
                    window.location.href="@{ImageController.listImage()}";
               }
            }
        )
        return false;
	}
	
	function editImage(id){
		$.get("@{ImageController.selectImage()}", {"id":id}, function(image){
			setValue("id",  image.id);
			setValue("title",  image.title);
			$("#description").val(image.description);
			$('#myModal').modal('show');
		});
	}
</script>
	
#{/set}
<div class="container">
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	 <span class="glyphicon glyphicon-plus"></span>上传图片
</button>
<table class="table table-striped table-bordered table-hover table-condensed"  style="width:100%;margin-top:10px">
	<thead>
		<tr>
			<th>图片名称</th>
			<th>图片大小</th>
			<th>预览</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	#{list items:all, as : 'image'}
		<tr>
			<td>${image.fname}</td>
			<td>${image.fsize}</td>
			<td>
				<div style="text-align:center">
					<img src="http://js0801.qiniudn.com/${image.url}?imageView2/2/w/100"/>
				</div>
			</td>
			<td>
				<button class="btn btn-default btn-sm" onclick="editImage(${image.id})">
					<span class="glyphicon glyphicon-edit"></span> 编辑
				</button>
				<button class="btn btn-default btn-sm" onclick="deleteImage(${image.id}, '${image.url}')">
					<span class="glyphicon glyphicon-remove"></span> 删除
				</button>
			</td>
		</tr>
	#{/list}
	</tbody>
</table>
<!-- 上传图片对话框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">图片上传</h4>
      </div>
      <div class="modal-body">
		<form action="http://up.qiniu.com" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="id" id="id"/>
			<div class="form-group">
		    	<label for="title">图片标题</label>
				<input class="form-control" type="text" placeholder="输入图片标题" name="title" id="title"/>
			</div>
			<div class="form-group">
		    	<label for="description">图片描述</label>
		    	<textarea class="form-control" rows="3" placeholder="输入图片描述" name="description" id="description"></textarea>
			</div>
		    <div class="form-group">
		    	<label for="uploadFile">选择图片</label>
	  			<input name="token" type="hidden" value="" id="token">
				<input class="form-control" type="file" placeholder="选择上传文件" name="file" id="file"/>
			</div>
		</form>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" onclick="upload()">
      		<span class="glyphicon glyphicon-save"></span>确定
      	</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
			<span class="glyphicon glyphicon-remove"></span>取消
		</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
