#{extends 'main.html' /}
#{set title:'来坐坐吧' /}

#{if flash.error}
	<p>${flash.error}</p>
#{/if}
<div class="container">
	<form action="@{Application.dosave()}" method="POST" id="studentForm">
		<div class="form-group">
			<label class="control-label" for="sname">姓名:</label>
			<input class="form-control" type="text" placeholder="请输入名称" name="sname" id="sname"/>
		</div>
		<div class="form-group">
			<label class="control-label" for="sage">年龄:</label>
			<input class="form-control" type="text" placeholder="请输入年龄" name="sage" id="sage"/>
		</div>
		<div class="form-group">
			<label class="control-label" for="email">Email:</label>
			<input class="form-control" type="text" placeholder="请输入email" name="email" id="email"/>
		</div>
		<div class="form-group">
			<label class="control-label" for="phoneno">电话号码:</label>
			<input class="form-control" type="text" placeholder="请输入电话号码" name="phoneno" id="phoneno"/>
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-lg" onclick="doSave()">保存</button>
	  	</div>
	</form>
</div>
<script type="text/javascript">
function doSave(){
	$.post("@{Application.dosave()}", $("#studentForm").serialize(),function(data){
		alert(data.message);
	});
}

</script>

