#{extends 'main.html' /}
#{set title:'来坐坐吧' /}

#{if flash.error}
	<p>${flash.error}</p>
#{/if}
<form action="@{Application.sayHello()}" method="GET">
    <input type="text" name="myName" /> 
    <input type="submit" value="Say hello!" />
</form>
<form action="@{Application.proxy()}" method="GET">
    <input type="text" name="urlStr" /> 
    <input type="submit" value="Go!" />
</form>
<br/>
<button class="btn" onclick="window.location.href='@{Application.listStudent()}'">显示学生信息</button>
<button class="btn" onclick="window.location.href='@{Application.list()}'">上传文件</button>

