#{extends 'main.html' /}
#{set title:'来坐坐吧' /}
#{set "moreStyles"}
<link href="@{'/public/jq22/css/style.min.css'}" rel="stylesheet" />
<link href="@{'/public/jq22/css/prism.min.css'}" rel="stylesheet" />
#{/set}
#{set "moreScripts"}
<script src="@{'/public/jq22/js/jquery.lazyload.js'}"></script>
<script src="@{'/public/jq22/js/least.min.js'}"></script>

#{/set}
<div class="container">
<section>
    <ul id="gallery">
    	<li id="fullPreview"></li>
    	#{list items:lists, as : 'item'}
        <li>
            <a href="http://js0801.qiniudn.com/${item.key}"></a>
            <img class="img-thumbnail img-responsive" data-original="http://js0801.qiniudn.com/${item.key}?imageView2/2/h/150" src="@{'/public/jq22/img/effects/white.gif'}" alt="Ocean" />
            
            <div class="overLayer"></div>
            <div class="infoLayer">
                <ul>
                    <li>
                        <h2>
                            Ocean 
                        </h2>
                    </li>
                    <li>
                        <p>
                            View Picture
                        </p>
                    </li>
                </ul>
            </div>
            <div class="projectInfo">
                <strong>Monday, 14th April 2093:</strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            </div>
        </li>
		#{/list}
    </ul>
</section>
</div>