#{extends 'main.html' /}
#{set title:'来坐坐吧' /}

#{if flash.error}
	<p>${flash.error}</p>
#{/if}
<div class="container">
	<form role="form" action="@{Application.upload()}" method="POST" enctype="multipart/form-data">
	    <div class="form-group">
	    	<label for="uploadFile">选择文件</label>
			<input class="form-control" type="file" placeholder="选择上传文件" name="uploadFile" id="uploadFile"/>
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-lg" onclick="this.submit()">上传</button>
	  	</div>
	</form>
</div>

