#{extends 'main-frame.html' /}
#{set title:'来坐坐吧' /}
<div class="container">
<div class="text-center"><h1 style="color:ccc;">查看歌曲列表</h1></div>
<table class="table table-striped table-bordered table-hover table-condensed"  style="width:100%">
	<thead>
		<tr>
			<th>名称</th>
			<th>下载地址</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	#{list items:list, as : 'file'}
		<tr>
			<td>${file}</td>
			<td>http://www.laizuozuoba.com/public/mp3/${file}</td>
			<td>
				<button class="btn btn-primary btn-sm" onclick="window.location.href='http://www.laizuozuoba.com/public/mp3/${file}'">下载</button>
			</td>
		</tr>
	#{/list}
	</tbody>
</table>
</div>
