#{extends 'main.html' /}
#{set title:'来坐坐吧' /}
#{set "moreScripts"}
<script type="text/javascript">
	function deleteImage(key){
		$.post("@{Application.deleteImage()}", {"key":key},function(data){
			alert(data.message);
			window.location.href="@{Application.listImage()}";
		});
	}
</script>
	
#{/set}
<div class="container">
<div class="text-center"><h1 style="color:ccc;">图片列表</h1></div>
<table class="table table-striped table-bordered table-hover table-condensed"  style="width:100%">
	<thead>
		<tr>
			<th>图片名称</th>
			<th>图片大小</th>
			<th>预览</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	#{list items:all, as : 'item'}
		<tr>
			<td>${item.key}</td>
			<td>${item.fsize}</td>
			<td>
				<div style="text-align:center">
					<img src="http://js0801.qiniudn.com/${item.key}?imageView2/2/w/100"/>
				</div>
			</td>
			<td>
				<button class="btn btn-primary btn-sm" onclick="deleteImage('${item.key}')">删除</button>
			</td>
		</tr>
	#{/list}
	</tbody>
</table>
</div>
