#{extends 'main-frame.html' /}
#{set title:'来坐坐吧' /}
#{set "moreStyles"}
#{/set}
#{set "moreScripts"}
<script src="@{'/public/jwplayer/jwplayer.js'}"></script>
<script type="text/javascript">
$(function(){
	jwplayer("videoDiv").setup({
		file: "http://js0801.qiniudn.com/big-family.flv",
		image: "http://js0801.qiniudn.com/big-family.flv?vframe/jpg/offset/90/w/640/h/360",
		width: 640,
        height: 360
	});
});
</script>
#{/set}
<div class="container" style="text-align:center">
	<div id="videoDiv"  style="width:100%;text-align:center"></div>
</div>
#{list items:lists, as : 'item'}

#{/list}
