<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.11.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/bootstrap/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/common-utils.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
		<div class="container" >		
			<nav class="navbar navbar-default navbar-inverse" role="navigation">
			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
					<li class="active"><a class="navbar-brand" href="@{Application.index()}">首页</a></li>
					<li><a href="@{Application.listStudent()}">显示学生信息</a></li>
					<li><a href="@{ImageController.listImage()}">图片列表</a></li>
					<!--  <li><a href="@{Application.listUploadFile()}">上传文件列表</a></li> -->
					<li><a href="@{Application.videoShow()}">电子相册</a></li>
			    </ul>
			  </div>
			</nav>
		</div>
        #{doLayout /}
    </body>
</html>
